<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CrudApp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="theme-color" content="lightgrey">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
		{% block navbar %}{{ include('layout/header.html.twig') }}{% endblock %}
        <main class="container" id="content">
            {% block feedbacks %}{{ include('layout/flasher.html.twig') }}{% endblock %}
            {% block body %}{% endblock %}
        </main>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ include('layout/footer.html.twig') }}
        {% endif %}
    </body>
</html>